
@media print {
    @page {
        size: A4 landscape;
    }

    .slideroot,
    .blockroot {
        overflow: auto;
        height: auto;
        background-color: var(--bgColor);
    
    }

    .slide {
        page-break-after: always;
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .block {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    img {
        display: block;
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
        break-inside: avoid;
    }
    
    video,
    #sideBar,
    #appfooter {
        display: none;
    }
}
