//some temp style in nested css/ scss format
//@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap');
:root {
    --hue         : 200;
    --sat         : 60%;
    --light       : 10%;
    --hueAscent   : 180;
    --satAscent   : 50%;
    --lightAscent : 80%;
    --textColor   : white;
    --linkColor   : hsl(var(--hue),100%,60%);
    --ascentColor : hsl(var(--hueAscent), calc(var(--sat) * 1.5), calc(var(--light) * 2));
    --colorScheme : dark;
    --testShadow  : black;
    --lightFactor : 1;
    --fontScale   : 1;
    --fontFamily  : "Finlandica", "Poppins", "Arial";
    --headerHeight: 60px;
    --bgColor     : hsl(var(--hue), calc(var(--sat) * 1.5), 5%);
    ;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin    : 0px;
    padding   : 0px;
    transition: all 100ms ease-in-out;

}

.hide {
    display: none;
}

.blur {
    filter: blur(3px) brightness(60%);
}

html {
    color-scheme: dark light;
}

body {
    min-height      : 100vh;
    background-color: var(--bgColor, #222);
    font-size       : var(--fontSize);
    background-color: var(--bgColor);
}

img,
picture,
svg,
video {
    display   : block;
    max-width : 100%;
    max-height: 100vh;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 2px;

    &:hover {
        width: 8px;
    }
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;

    &:hover {
        background: #555;
    }
}

.heading {
    font-size: clamp(1.2rem, 5vw, 2rem);
    padding  : 1em !important;
}

#app {
    --h                : var(--hue, 200);
    --s                : var(--sat, 50%);
    --l                : calc(var(--light, 15%) * var(--lightFactor, 1));
    display            : flex;
    flex-direction     : column;
    min-height         : 100vh;
    color              : var(--textColor, white);
    // background-color: hsl(var(--h), var(--s), var(--l));
    font-size          : calc(1rem * var(--fontScale, 1));
    font-family        : var(--fontFamily), "arial", "sans";



    header {
        display         : flex;
        flex-wrap       : wrap;
        justify-content : space-between;
        align-items     : center;
        --s             : calc(var(--sat, 50%) * var(--lightFactor, 1) * 1.5);
        --l             : calc(var(--light, 15%) * var(--lightFactor, 1) * .5);
        background-color: hsl(var(--h), var(--s), var(--l));
        position        : sticky;
        top             : 0px;
        min-height      : var(--headerHeight, 60px);
        padding         : 5px;
        z-index         : 100;


        .title {
            padding: 1em;
        }

        .pathNavigator {
            font-size       : .8em;
            color           : var(--ascentColor, aqua);
            padding         : 5px;
            margin          : 5px;
            text-decoration : none;
            text-transform  : uppercase;
            background-color: rgb(255, 255, 255);


            &:after {
                content: " /"
            }

            &:hover {
                background-color: rgb(249, 255, 166);
            }

            &:first-of-type {
                content: "";
            }

        }
    }

    main {
        min-height      : 100vh;
        font-family     : var(--fontFamily);
        font-size       : var(--fontSize);
        background-color: hsl(var(--h), var(--s), var(--l));

        &:fullscreen {

            background-color: hsl(var(--h), var(--s), var(--l));
        }

        p {
            margin-block: .5em;
        }


    }

    .footer {
        background-color: hsl(var(--hue, 180), 80%, 5%);

        #footerButtons {
            display        : flex;
            justify-content: center;
            align-items    : center;
            min-height     : 10vh;
        }


    }
}

.container {
    padding-inline: 3em;
}

.dirGrid {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding              : 5px;
    grid-gap             : 5px;
    z-index              : inherit;
}

.folderLinks {
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    align-content  : flex-end;
    align-self     : flex-end;
    display        : inline-block;
    padding        : 10px;
    padding-top    : 7.5em;
    margin         : 10px;
    text-transform : uppercase;
    color          : var(--textColor, white);
    text-shadow    : #555;
    font-size      : .7em;
    border-radius  : 3px;
    text-decoration: none;
    min-width      : 6em;
    min-height     : 8em;
    margin-top     : auto;
    z-index        : inherit;

    &:hover {
        box-shadow      : 1px 1px 2px white;
        background-color: hsla(0, 0%, 100%, 0.404);

    }

    // &:before,
    // &:after {
    //     content      : "";
    //     width        : 6em;
    //     height       : 5em;
    //     border-radius: 5px;
    //     position     : absolute;
    //     bottom       : 0%;
    //     left         : 0;
    //     margin       : 5px;
    // }


    &:before {
        content         : "";
        width           : 6em;
        height          : 5em;
        border-radius   : 5px;
        position        : absolute;
        top             : 1em;
        left            : 0;
        margin          : 1em;
        background-color: hsla(180, 81%, 39%, 0.6);
        transform       : skewY(0deg);
    }

    &:after {
        content         : "";
        width           : 5em;
        height          : 5em;
        border-radius   : 5px;
        position        : absolute;
        top             : 1em;
        left            : 0;
        margin          : 1em;
        background-color: rgba(75, 236, 236, 0.6);
        transform       : skewY(-20deg) translateY(-10px);
    }
}



.slideLinks {
    position        : relative;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-end;
    align-content   : flex-end;
    align-self      : flex-end;
    display         : inline-block;
    padding-block   : 10px;
    padding-inline  : 15px;
    margin          : 10px;
    text-transform  : uppercase;
    color           : var(--textColor, white);
    font-size       : .7em;
    border-radius   : 3px;
    text-decoration : none;
    width           : 150px;
    height          : 110px;
    margin-top      : auto;
    z-index         : inherit;
    background-color: hsla(0, 0%, 100%, 0.104);

    &:hover {
        box-shadow      : 1px 1px 2px white;
        background-color: hsla(0, 0%, 100%, 0.404);

    }


    &:before {
        background-color: rgb(19, 179, 179);
        transform       : skewY(0deg);
        width           : 60px;

    }

    &:after {
        background-color: rgb(76, 236, 236);
        transform       : skewY(-20deg) translateY(-10px);

    }
}



.pdfLinks {
    position        : relative;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-end;
    align-content   : flex-end;
    align-self      : flex-end;
    display         : inline-block;
    padding-block   : 10px;
    padding-inline  : 15px;
    margin          : 10px;
    text-transform  : uppercase;
    color           : var(--textColor, white);
    font-size       : .7em;
    border-radius   : 3px;
    text-decoration : none;
    min-width       : 150px;
    height          : 110px;
    margin-top      : auto;
    z-index         : inherit;
    background-color: hsla(0, 0%, 100%, 0.104);

    &:hover {
        box-shadow      : 1px 1px 2px white;
        background-color: hsla(0, 0%, 100%, 0.404);

    }


    &:after {
        display               : flex;
        justify-content       : end;
        align-items           : flex-end;
        border-radius         : 3px;
        font-size             : 2em;
        font-style            : italic;
        position              : absolute;
        bottom                : 0;
        right                 : 0;
        // width              : 100%;
        // height             : 100%;
        content               : "PDF";
        padding               : 1px;
        background-color      : rgba(76, 236, 236, .6);


    }

    // &:after {
    //     background-color: rgb(76, 236, 236);
    //     transform       : skewY(-20deg) translateY(-10px);

    // }
}

.button {
    display         : inline-block;
    position        : relative;
    padding         : .5em;
    cursor          : pointer;
    font-weight     : bold;
    text-transform  : uppercase;
    color           : white;
    background-color: hsla(var(--hueAscent), 80%, 30%, 0.4);
    border          : none;
    border-radius   : .5em;
    transition      : all 0.2s ease-in-out;
    margin          : 1em;
    perspective     : 0em;
    transform       : translateZ(1em);



    &:hover {
        --hueAscent     : var(--hue);
        background-color: hsla(var(--hueAscent), 80%, 30%, 0.4);


    }


}

pre,
samp {
    display     : block;
    margin-block: 1em;
}

.samp {
    font-size  : .7em;
    overflow-x : auto;
    white-space: pre-wrap;
}

// code {
//     white-space: pre-wrap;
// }


ol,
ul {
    padding    : 1em;
    margin-left: 2em;
}