//some temp style in nested css/ scss format
//@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap');
:root {
    --hue: 200;
    --sat: 60%;
    --light: 10%;
    --hueAscent: 180;
    --satAscent: 50%;
    --lightAscent: 80%;
    --textColor: white;
    --ascentColor: hsl(var(--hueAscent), calc(var(--sat) * 1.5), calc(var(--light) * 2));
    --colorScheme: dark;
    --testShadow: black;
    --lightFactor: 1;
    --fontScale: 1;
    --fontFamily: "Finlandica", "Poppins", "Arial";
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size:var(--fontSize);
    transition: all 200ms ease-in-out;
    &:empty{
        display:none;
    }
}

#app {
    --h: var(--hue, 200);
    --s: var(--sat, 50%);
    --l: calc(var(--light, 15%) * var(--lightFactor, 1));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--textColor, white);
    background-color: hsl(var(--h), var(--s), var(--l));
    font-size: calc(1rem * var(--fontScale, 1));
    font-family: var(--fontFamily), "arial", "sans";

    h1 {
        padding-block: 1em;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        --s: calc(var(--sat, 50%) * var(--lightFactor, 1) * 1.5);
        --l: calc(var(--light, 15%) * var(--lightFactor, 1) * .5);
        background-color: hsl(var(--h), var(--s), var(--l));
        position: sticky;
        top: 0px;
        min-height: 60px;
        padding:5px;
        z-index: 100;


        .title{
            padding:5px;
        }
        .pathNavigator {
            color: var(--ascentColor, aqua);
            padding: 5px;
            margin: 5px;
            text-decoration: none;
            text-transform: uppercase;
            background-color: rgb(255, 255, 255);
            

            &:after {
                content: " /"
            }

            &:hover {
                background-color: rgb(249, 255, 166);
            }

            &:first-of-type{
                    content: "";
            }
 
        }
    }

    main {
        min-height: 90vh;
        font-family: var(--fontFamily);
        font-size: var(--fontSize);

        p {
            margin-block: 1em;
        }

        span {
            padding: 2em;
            margin-right: 2em;
            color: var(--ascentColor, aqua);
            text-transform: uppercase;
        }
    }

    .footer {
        background-color: hsl(160, 50%, 10%);
    }
}

.container {
    padding-inline: 3em;
}

.dirGrid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    padding:5px;
    grid-gap:5px;
    z-index: inherit;
}
.folderLinks {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-self: flex-end;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    color: var(--textColor, white);
    font-size: .7em;
    border-radius: 3px;
    text-decoration: none;
    width:100px;
    height: 120px;
    margin-top: auto;
    z-index: inherit;
    &:hover{
        box-shadow: 1px 1px 2px white;
        background-color: hsla(0, 0%, 100%, 0.404);
  
    }

    &:before,&:after{
        content:"";
        width:55px;
        height:55px;
        border-radius:5px;
        position:absolute;
        bottom:0%;
        left:0;
        margin: 5px;
    }

    
    &:before{
        background-color: rgb(19, 179, 179);
        transform:skewY(0deg);
        width:60px;
        
    }
     
    &:after{
        background-color: rgb(76, 236, 236);
        transform:skewY(-20deg) translateY(-10px);

    }
}



.slideLinks {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-self: flex-end;
    display: inline-block;
    padding-block: 10px;
    padding-inline: 15px;
    margin: 10px;
    text-transform: uppercase;
    color: var(--textColor, white);
    font-size: .7em;
    border-radius: 3px;
    text-decoration: none;
    width:150px;
    height: 110px;
    margin-top: auto;
    z-index: inherit;
    background-color: hsla(0, 0%, 100%, 0.104);
    &:hover{
        box-shadow: 1px 1px 2px white;
        background-color: hsla(0, 0%, 100%, 0.404);
  
    }

    
    &:before{
        background-color: rgb(19, 179, 179);
        transform:skewY(0deg);
        width:60px;
        
    }
     
    &:after{
        background-color: rgb(76, 236, 236);
        transform:skewY(-20deg) translateY(-10px);

    }
}

.reloadPage {
    display: block;
    padding: 5px;
    margin: 10px;
    cursor: pointer
}